@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.key-button {
  height: 30px;
  background: orange;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 3px;
  transition: 0.5s;
  cursor: pointer;
  animation-fill-mode: both;
}

.key-button:hover {
  background: white;
  color: orange;
}

.array-index-nav {

}
